.reptilepost {
    aspect-ratio: 1 / 1.1;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(159, 173, 183);
    border-radius: 24px;
    overflow: hidden;
}

.reptilepost > img {
    width: 100%;
    height: 60%;
    object-fit: cover;
    flex-shrink: 0;
}

.post-info {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.post-info-box {
    display: flex;
    justify-content: space-between; /* Pushes Name to left, Price to right */
    align-items: baseline;          /* Keeps text aligned on the bottom edge */
}

.post-info-box h2 {
    margin: 0;
    font-size: clamp(0.8rem, 30cqw, 2rem);
    font-weight: 600;
    color: #1a1a1a;
}

.post-info-box h3{
    margin: 0;
    font-size: 1.4rem;
    font-weight: 800;
    color: #1a1a1a;
}

.post-info-box span{
    margin-top: auto;
}