body{
    margin: 0;
    font-family: sans-serif;
    background-color: #282D35;
}

.reptilepost {
    aspect-ratio: 1 / 1.25;
    display: flex;
    flex-direction: column;
    background-color: #3d656e;
    border-radius: 24px;
    overflow: hidden;
}

.reptilepost > img {
    width: 100%;
    height: 60%;             /* Image takes up 60% of the card height */
    object-fit: cover;       /* Ensures reptile isn't squished */
}

.postinfo {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;            /* Fills the remaining space below the image */
}

.layout {
    display: flex;
    align-items: flex-start;
    padding-left: 16px;
    padding-right: 16px;
}

.post-grid {
    flex: 1;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 32px 28px;
    padding: 16px;
}

.filter-box{
    width: 180px;
    height: 100vh;
    color: white;
    position: sticky;
    top: 16px;
    border-right: 4px solid rgba(255, 255, 255, 0.15);
}